{% extends "layout.html" %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='style/style_booklist.css') }}">{% endblock %}
{% block content %}
  <div class="nav">
    <div class="home"><a href="{{url_for('logged')}}"><h1>Home</h1></a></div>
    <div class="logout"><a href="{{url_for('logout')}}"><h1>Log out</h1></a></div>

    <div class="search">
      <form action="{{ url_for('booklist') }}" method="post">
        <input type="search" id="sear" name="search" placeholder="Search for a book">
        <input type="submit" id="sub" value="Search" >
      </form>
    </div>
  </div>
  <br><br><br>
  {% for book in books %}

    <a href="/book-{{book[2]}}">
      <div class="book">
        <h2>{{book[2]}}</h2>
        <h3>{{book[3]}}</h3>
      </div>
    </a>
  {% endfor %}


{% endblock %}
