{% extends "layout.html" %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='style/style_book.css') }}">{% endblock %}
{% block content %}
<div class="nav">
  <div class="home"><a href="{{url_for('logged')}}"><h1>Home</h1></a></div>
  <div class="logout"><a href="{{url_for('logout')}}"><h1>Log out</h1></a></div>

  <div class="search">
    <form action="{{ url_for('booklist') }}" method="post">
      <input type="search" id="sear" name="search" placeholder="Search for a book">
      <input type="submit" id="sub" value="Search" >
    </form>
  </div>
</div>
<br><br><br>

  <h3>{{ name }}</h3>
  <h3>{{ author }}</h3>
  <h3>{{ data }}</h3>
  <h3>{{ isbn }}</h3>
  {% for comment in comments %}
    <h5>{{ comment.usern }}</h5>
    <h5>{{ comment.grade }}</h5>
    <h5>{{ comment.comment }}</h5>
  {% endfor %}

  <h6>Average rating is: {{ avRating }}</h6>
  <h6>Work rating count is: {{ wrCount }}</h6>
{% endblock %}
